@font-face {
  font-family: 'Bellota';
  src: url("assets/web_fonts/bellota_regular_macroman/Bellota-Regular-webfont.woff") format("woff");
}
/*Charte graphique*/
/* line 17, ../sass/style.scss */
.navbar {
  background-color: #15c5bd;
}
/* line 19, ../sass/style.scss */
.navbar .navbar-brand {
  color: #ffffff;
}
/* line 21, ../sass/style.scss */
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #303030;
}
/* line 23, ../sass/style.scss */
.navbar .navbar-text {
  color: #ffffff;
}
/* line 25, ../sass/style.scss */
.navbar .navbar-text a {
  color: #303030;
}
/* line 27, ../sass/style.scss */
.navbar .navbar-text a:hover, .navbar .navbar-text a:focus {
  color: #303030;
}
/* line 30, ../sass/style.scss */
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}
/* line 35, ../sass/style.scss */
.navbar .navbar-nav .nav-link:not(.disabled):hover, .navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #303030;
}
/* line 49, ../sass/style.scss */
.navbar .navbar-nav .nav-item.active .nav-link, .navbar .navbar-nav .nav-item.active .nav-link:hover, .navbar .navbar-nav .nav-item.active .nav-link:focus, .navbar .navbar-nav .nav-item.show .nav-link, .navbar .navbar-nav .nav-item.show .nav-link:hover, .navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #303030;
  background-color: #15c5bd;
}
/* line 52, ../sass/style.scss */
.navbar .navbar-toggle {
  border-color: #15c5bd;
}
/* line 54, ../sass/style.scss */
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
  background-color: #15c5bd;
}
/* line 56, ../sass/style.scss */
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ffffff;
}
/* line 58, ../sass/style.scss */
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ffffff;
}
/* line 61, ../sass/style.scss */
.navbar .navbar-link {
  color: #ffffff;
}
/* line 63, ../sass/style.scss */
.navbar .navbar-link:hover {
  color: #303030;
}

@media (max-width: 575px) {
  /* line 67, ../sass/style.scss */
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  /* line 69, ../sass/style.scss */
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #303030;
  }
  /* line 71, ../sass/style.scss */
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #303030;
    background-color: #15c5bd;
  }
}
@media (max-width: 767px) {
  /* line 76, ../sass/style.scss */
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  /* line 78, ../sass/style.scss */
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #303030;
  }
  /* line 80, ../sass/style.scss */
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #303030;
    background-color: #15c5bd;
  }
}
@media (max-width: 991px) {
  /* line 85, ../sass/style.scss */
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  /* line 87, ../sass/style.scss */
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #303030;
  }
  /* line 89, ../sass/style.scss */
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #303030;
    background-color: #15c5bd;
  }
}
@media (max-width: 1199px) {
  /* line 94, ../sass/style.scss */
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  /* line 96, ../sass/style.scss */
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #303030;
  }
  /* line 98, ../sass/style.scss */
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #303030;
    background-color: #15c5bd;
  }
}
/* line 102, ../sass/style.scss */
.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ffffff;
}
/* line 104, ../sass/style.scss */
.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #303030;
}
/* line 106, ../sass/style.scss */
.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #303030;
  background-color: #15c5bd;
}
