@font-face {
  font-family: 'bellotaregular';
  src: url("../web_fonts/bellota_regular_macroman/Bellota-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*Charte graphique*/
header, main, footer {
  font-family: 'bellotaregular';
}

/*NavBar*/
.navbar {
  background-color: #15c5bd;
}

.navbar .navbar-brand {
  color: #FFF;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #303030;
}

.navbar .navbar-text {
  color: #FFF;
}

.navbar .navbar-text a {
  color: #303030;
}

.navbar .navbar-text a:hover, .navbar .navbar-text a:focus {
  color: #303030;
}

.navbar .navbar-nav .nav-link {
  cursor: pointer;
  color: #FFF;
  border-radius: .25rem;
  margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover, .navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #303030;
}

.navbar .navbar-nav .nav-item.active .nav-link, .navbar .navbar-nav .nav-item.active .nav-link:hover, .navbar .navbar-nav .nav-item.active .nav-link:focus, .navbar .navbar-nav .nav-item.show .nav-link, .navbar .navbar-nav .nav-item.show .nav-link:hover, .navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #303030;
  background-color: #15c5bd;
}

.navbar .navbar-toggle {
  border-color: #15c5bd;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
  background-color: #15c5bd;
}

.navbar .navbar-toggle .navbar-toggler-icon {
  color: #FFF;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #FFF;
}

.navbar .navbar-link {
  color: #FFF;
}

.navbar .navbar-link:hover {
  color: #303030;
}

/*Jumbotron*/
@media (min-width: 500px) {
  .fond {
    background-image: url("../poulet.png");
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    width: 100%;
    height: 300px;
    top: 3em;
    left: 0;
    z-index: 1 !important;
  }
}

@media (min-width: 450px) {
  .jumbotron {
    margin-bottom: 0px;
    height: 500px;
    color: #15c5bd;
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 450px) {
  .jumbotron {
    margin-bottom: 0px;
    height: 800px;
    color: #15c5bd;
    background-size: cover;
    background-position: center;
  }
}

.jumbotron button {
  border-radius: 5px;
  background-color: #303030;
  color: white;
}

.jumbotron button:hover {
  background-color: #15c5bd;
}

.jumbotron button:hover a {
  color: #303030;
}

.jumbotron button a {
  text-decoration: none;
  color: #FFF;
}

.test {
  color: #15c5bd;
}

.test img {
  float: right;
}

#produits {
  background-color: #15c5bd;
}

@media (min-width: 400px) {
  #produits .card-deck {
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

#produits .card-deck .card:hover {
  border: 1px solid #303030;
  cursor: pointer;
}

.video {
  text-align: center;
}

@media (min-width: 550px) {
  .video iframe {
    width: 450px;
    height: 315px;
  }
}

@media (max-width: 550px) {
  .video iframe {
    width: 300px;
    height: 275px;
  }
}

@media (max-width: 350px) {
  .video iframe {
    width: 150px;
    height: 100px;
  }
}

#myBtn {
  border-radius: 5px;
  background-color: #15c5bd;
  border: 2px solid #FFF;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 105px;
}

#myBtn:hover {
  background-color: #FFF;
  color: #303030;
  border: 2px solid #303030;
}

#more {
  display: none;
}

/*Services*/
#services {
  background-color: #FFF;
}

#services .controls-top {
  padding-bottom: 30px;
}

#services .controls-top .btn-floating {
  color: #15c5bd;
}

@media (min-width: 400px) {
  #services .card-deck {
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

#services .card-deck .card {
  background-color: #303030;
  color: #FFF;
}

/*Informations*/
#informations {
  padding: 5em 0 3em 0;
  background-color: #303030;
}

#informations .box {
  text-align: center;
  color: #15c5bd;
}

#informations .box i {
  margin-bottom: 30px;
}

/*Contact*/
.errorform {
  border: solid rgba(255, 0, 0, 0.81) 0.5px !important;
}

input {
  border: solid rgba(79, 79, 79, 0.77) 0.5px;
  border-radius: 5px;
  width: 185px;
  height: 40px;
}

#contact {
  background-color: #15c5bd;
}

form {
  width: 100%;
  padding: 20px;
  padding-bottom: 35px;
}

@media (min-width: 700px) {
  form .firstline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 25px;
  }
}

@media (max-width: 700px) {
  form .firstline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 25px;
  }
}

@media (min-width: 700px) {
  form .secondline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 25px;
  }
}

@media (max-width: 700px) {
  form .secondline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 25px;
  }
}

@media (min-width: 700px) {
  form textarea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #FFF;
    border: solid #FFF;
  }
}

@media (max-width: 699px) {
  form textarea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #FFF;
    border: solid #FFF;
    width: 400px;
  }
}

@media (max-width: 450px) {
  form textarea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #FFF;
    border: solid #FFF;
    width: 200px;
  }
}

form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #FFF;
  font-weight: bold;
  border: none;
  height: 40px;
  width: 105px;
}

form button:hover {
  background-color: #303030;
  color: #FFF;
}

form input {
  text-align: center;
  min-width: 50px;
  max-width: 250px;
  margin: 0 25px;
}

@media (min-width: 700px) {
  form select {
    margin: 0 15px;
    height: 40px;
  }
}

@media (max-width: 700px) {
  form select {
    margin: 0 25px;
    height: 40px;
    width: 180px;
  }
}

body, html {
  scroll-behavior: smooth;
}

footer {
  background-color: #303030;
  color: #FFF;
}

footer a {
  color: #FFF;
}

footer a:hover {
  color: #15c5bd;
  text-decoration: none;
}

footer h5 {
  font-weight: bold;
}

footer .list-inline-item:hover {
  color: #15c5bd;
  cursor: pointer;
}

@media (max-width: 550px) {
  #arrowup {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */